// Place all the styles related to the Zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: url(https://media.giphy.com/media/NPfVPyOWuHUys/giphy.gif);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center top;
}
